<div class="container px-5 py-5">
  <div class="flex">
    <a href="/books">
      <div class="bg-primary-700 rounded-lg shadow-lg p-6 w-80">
        <h2 class="text-2xl text-white font-bold mb-4">Total Books</h2>
        <p class="text-4xl font-semibold mb-2 text-white">
          <%= @total_books %>
        </p>
        <small class="text-white mt-4">
          <%= Date.today.strftime("%B %d, %Y") %>
        </small>
      </div>
    </a>
  </div>
</div>